*.dart linguist-language=Dart
*.yaml linguist-language=YAML
*.yml linguist-language=YAML

*.kt linguist-language=Kotlin
*.java linguist-language=Java
*.swift linguist-language=Swift
*.m linguist-language=Objective-C
*.mm linguist-language=Objective-C++